
## sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


#### scala ####
*.class
*.log

## Package Files
*.jar
*.war
*.ear

## intellij
*.iml
*.ipr
*.iws
.idea
out/